@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav{
  top: 0;
  box-sizing: border-box; position: fixed;
}
.App {
  position: fixed;
  left: 0; top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(17, 17, 17);
}

.easy{      box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.2);}
.hard{      box-shadow: 0px 0px 20px 0px rgba(0, 102, 255, 0.2);}
.insane{    box-shadow: 0px 0px 20px 0px rgba(255, 0, 0, 0.2);}
.easybtn{   box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.2);}
.hardbtn{   box-shadow: 0px 0px 5px 0px rgba(0, 102, 255, 0.2);}
.insanebtn{ box-shadow: 0px 0px 5px 0px rgba(255, 0, 0, 0.2);}

.border{border: 1px solid white}
.grid {
  position: relative;
  margin: 5px;
  padding: 1px;
  width: 775px;
  min-width: 775px;
  height: 775px;
  min-height: 775px;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: rgb(17, 17, 17);
  .img{
    position: absolute;
    left: 0;top: 0;
    width: 100%;
    opacity: .5;
  }
}
.border{border: 1px solid rgba(255, 255, 255, .8)}
.grid-item {
  outline: 1px solid rgb(20, 20, 20);
  width: 25px;
  height: 25px;
  z-index: 1000;
  background-color: rgb(17, 17, 17);
}
.modal{
  @include flex;
  flex-direction: column;
  margin: auto auto;
  width: 50%;
  padding: 20px;
  border-radius: 3px;
  border: 1px solid white;
  user-select: none;
  color: white;
  background-color: rgb(20, 20, 20);
  z-index: 1000;
  position: relative;
  h1{
    width:100%;
    padding-bottom: 20px;
    text-align: center;
  }
  button{
    margin: 0px 5px;
    padding: 10px 30px;
    border-radius: 3px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    outline: none;
    cursor: pointer;
    color:white;
    background-color: transparent;
    transition: all .2s;
    &:hover{
      transition: all .3s;
      background-color: rgb(26, 26, 26);
    }
  }
}

.unavailable{
  background-color: rgb(17, 17, 17);
  position: absolute;
  left: 0; top: 0;
  width: 100vw;
  height: 100vh;
  @include flex;
  flex-direction: column;
  text-align: center;
  p{color:white; width: 100%;}
}

.help{
  position: absolute;
  text-align: center;
  top: 70px;
  margin: 0 auto;
  color: white;
}

.is-food{
  background-image: url('./gallery/anim6.png');
  background-size: cover;
}
.is-head{
  background-image: url('./gallery/snake-head.png');
  background-size: cover;
}

.snake-body{
  background-image: url('./gallery/snake-body.png');
  background-size: cover;
}
.is-last-tail{
  background-image: url('./gallery/snake-tail.png');
  background-size: cover;
}
.up {transform: rotate(0deg);}
.down {transform: rotate(180deg);}
.right {transform: rotate(90deg);}
.left {transform: rotate(270deg);}